* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    border: 2px solid red;
    padding: 0 5% 0 5%;
    height: 100vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 20% 60% 20%;
}

.grid-container {
    display: grid;
}

/* --------------------------Top section css ------------------------ */
header {
    border: 1px solid blue;
    grid-row-start: 1;
    grid-row-end; 2;
}
/* spacing the logo and links */
nav {
    border: 1px solid green;
    display: flex;
    justify-content: space-between;
    padding: 10px 0 10px 0;
}

.logo-container {
    display: flex;
    align-items: center;
}

.links-container {
    display: flex;
    align-items: center;
}

.links-container li {
    padding-left: 15px;
    list-style-type: none;
}
/* bottom of the header container */
.bttm-c {
    display: grid;
    grid-template-columns: 45% 10% 45%;
    grid-template-rows: auto;
    height: 80%;
    border: 1px red solid;
}
.leftside-c {
    grid-column-start: 1;
    grid-column-end: 2;
}
.rightside-c {
    grid-column-start: 3;
    grid-column-end: 4;
    border: 1px gray solid;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    

}
.bttm-header-container {
}