* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    background: #1f2937;
    padding: 0 10% 0 10%;
    height: 100vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 30% 50% 20%;
}

.grid-container {
    display: grid;
}

/* --------------------------Top section css ------------------------ */
header {
    background: #1f2937;
    grid-row-start: 1;
    grid-row-end; 2;
    height: 100%;
}
/* spacing the logo and links */
nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 0 10px 0;
    height: 20%;
}

.logo-container {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.links-container {
    display: flex;
    align-items: center;
    height: 100%;
}

.links-container li {
    padding-left: 15px;
    list-style-type: none;
    font-size: 18px;
    color: #e5e7eb;
}
/* bottom of the header container */
.bttm-c {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    height: 80%;
}
.leftside-c {
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 30px;
}
.rightside-c {
    grid-column-start: 2;
    grid-column-end: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    height: 60%;
    width: 70%;
    align-self: center;
    justify-self: end;
    background: gray;
} 

.bttm-header-container h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
}
.signup-btn {
    width: 90px;
    height: 30px;
    background-color: #3882f6;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}
/*middle section*/
main {
    background: white;
}
/*top of main section*/
.top-main-section {
    padding: 0 120px 0 120px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.top-main-section h2 {
    color: #1f2937;
    font-size: 36px;
    font-weight: extra-bold;

}
.img-container {
    width: 140px;
    height: 140px;
    border: 4px solid #3882f6;
    border-radius: 10px;
}
.main-img-fig {
    width: 130px;
    color: gray;
}
.container-for-img {
    display: flex;
    justify-content: space-around;
}
h2 {
    text-align: center;
    padding-bottom: 70px;
}
/*bottom of main section*/
.bottom-main-section {
    background-color: #e5e7eb;
    height: 50%;
    padding: 0 120px 0 120px;
    display: flex;
    align-items: center;
}
.bottom-main-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 20px;
}
.bottom-main-section-fig {
    display: flex;
    justify-content: flex-end;
}
/*footer section*/
footer {
    background: white;
}
.top-footer-section {
    height: 70%;
    padding: 40px 100px 40px 100px;
}
.bottom-footer-section {
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1f2937;
}
.top-footer-container {
    background: #3882f6;
    height: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 0 20% 0 20%;
    align-items: center;
}
.btmbtn {
    border: 2px solid white;
}